.graphene {
  --alphas-under-graph: 0;

  --colours-axes-labels: #888888;
  --colours-background: #FFFFFF;
  --colours-horizontal-lines: #FFFFFF;

  --colours-data-0: #038FFB;
  --colours-data-1: #04E395;
  --colours-data-2: #FEB01A;
  --colours-data-3: #FF4560;
  --colours-data-4: #765DD0;

  --fonts-axes-labels-family: "Arial";
  --fonts-axes-labels-size: 13;
  --fonts-axes-labels-weight: normal;

  --widths-data: 0.5;
}

.graph {
  position: relative;
  margin: 24px;
  display: inline-block;
}

.foreground {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
