:root {
  --alphas-information-panel: 0.75;
  --alphas-selection-box: 0.25;
  --alphas-under-graph: 0.1;

  --colours-axes-labels: #555555;
  --colours-background: #FFFFFF;
  --colours-highlight-indicator: #E0DEFF;
  --colours-horizontal-lines: #EEEEEE;
  --colours-information-heading: #FFFFFF;
  --colours-information-panel: #333333;
  --colours-information-sentences: #FFFFFF;
  --colours-selection-box: #0000FF;
}

.graph {
  position: relative;
  margin: 48px;
}

.foreground {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
