:root {
  --alphas-under-graph: 0.25;

  --colours-background: #FFFFFF;

  --colours-data-0: #04E395;

  --widths-data: 0.1;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

.graph {
  position: relative;
  margin: 4px;
}

.foreground {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
