.graph_light_mode {
  --alphas-background: 0;
  --alphas-information-panel: 0.75;
  --alphas-under-graph: 0.25;

  --colours-axes-labels: #555555;
  --colours-background: #FFFFFF;
  --colours-highlight-indicator: #FFFFFF;
  --colours-horizontal-lines: #EEEEEE;
  --colours-information-heading: #FFFFFF;
  --colours-information-panel: #333333;
  --colours-information-sentences: #FFFFFF;
  --colours-marker: #FF0000;

  --colours-data-axis: #E0DEFF;
  --colours-data-0: #FF4560;
  --colours-data-1: #04E395;
  --colours-data-2: #038FFB;
  --colours-data-3: #FFFF00;
  --colours-data-4: #FF00FF;

  --fonts-axes-labels-family: "Arial";
  --fonts-axes-labels-size: 13;
  --fonts-axes-labels-weight: normal;
  --fonts-information-heading-family: "Arial";
  --fonts-information-heading-size: 13;
  --fonts-information-heading-weight: bold;
  --fonts-information-sentences-family: "Arial";
  --fonts-information-sentences-size: 13;
  --fonts-information-sentences-weight: normal;

  --radii-data-highlight-indicator: 4;
  --radii-highlight-indicator: 2;
  --radii-information-panel-border: 10;

  --widths-data: 1;
  --widths-data-highlight-indicator: 4;
  --widths-highlight-indicator: 2;
  --widths-marker: 2;
}

.graph {
  position: relative;
  margin: 48px;
}
